@import 'app/assets/scss/_variables.scss';

.trackAvatar {
  border-radius: 4px;
  object-fit: unset;
  position: relative;
}
.imgTrack {
  object-fit: cover;
  border-radius: 4px;
  aspect-ratio: 1 / 1;
}
.iconPlayTrack {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $DarkGray;
  border-radius: 10px;
  width: 20px;
  height: 20px;
}

.iconPlay {
  display: flex;
  position: absolute;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: none;
  cursor: pointer;
}

.trackAvatar:hover {
  .imgTrack {
    opacity: 0.5;
    background: rgba(0, 0, 0, 0.6);
    transition: opacity 0.25s;
    backdrop-filter: blur(5px);
  }
  .iconPlay {
    display: flex !important;
    opacity: 1 !important;
  }
}

.icon {
  color: $MainWhite;
  opacity: 1 !important;
  z-index: 10;
}