.justify-content-center {
  justify-content: center !important;
}

.justify-content-space-around {
  justify-content: space-around !important;
}

.none {
  display: none !important;
}

.hidden {
  visibility: hidden;
}

.position-relative {
  position: relative;
}

.z-index-1 {
  z-index: 1;
}
