@import 'app/assets/scss/_variables.scss';

.facebookIcon {
  width: 100% !important;
  margin-bottom: 10px;
  background-color: $FlatBlue !important;
  border: 0.5px solid $FlatBlue;

  &:hover {
    background-color: $FlatBlue !important;
    opacity: 0.8;
  }

  p {
    font-size: 12px;
    margin-left: 15px;
    color: $MainWhite;
    margin-top: 5px;
  }
}
