.banner-release {
  color: #fff;
  background-color: #000;
  background-image: url('../../assets/banners/official-release.jpg');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 12.5%;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  position: relative;
  overflow: hidden;
}

.banner-release-image {
  width: 12.5%;
  padding: 0;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}
