.row-inner {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
}

.value-label-overview {
  font-size: 16px;
  font-weight: bold;
}

.divider {
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #000;
}
