@import "app/assets/scss/_variables.scss";

.wTab {
  margin-bottom: 20px;
  .tab {
    cursor: pointer;
    &:hover {
      color: $SelectedTop;
      font-weight: 700;
    }
    @media only screen and (max-width: $SmallMobile) {
      font-size: 14px;
    }
    @media only screen and (max-width: $Tablet) {
      margin-right: 20px;
    }
  }
  .selected {
    color: $SelectedTop;
    font-weight: 700;
  }
}
